<div id="body">
    <section>
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Metro UI sample!</h1>
            </hgroup>


        </div>

    </section>
    <section class="content-wrapper main-content clear-fix">

        <div class="tile image-slider" data-role="tile-slider" data-param-period="500" data-param-duration="500">
            <div class="tile-content">
                <img src="~/Images/hackathon cropped.jpg" alt="" />
            </div>
            <div class="tile-content">
                <img src="~/Images/Aliens meme.png" alt="" />
            </div>
            <div class="tile-content">
                <p>Here is my live tile</p>
            </div>
        </div>

        <div class="tile double image-set">
            <div class="tile-content">
                <img src="~/Images/hackathon cropped.jpg" alt="" />
            </div>
            <div class="tile-content">
                <img src="~/Images/Aliens meme.png" alt="" />
            </div>
            <div class="tile-content">
                <img src="images/3.jpg" alt="">
            </div>
            <div class="tile-content">
                <img src="images/4.jpg" alt="">
            </div>
            <div class="tile-content">
                <img src="images/5.jpg" alt="">
            </div>
            <div class="brand">
                <span class="name">Photos</span>
            </div>
        </div>
        
        <div class="tile double image-slider" data-role="tile-slider" data-param-direction="left" data-param-period="500">
                                    <div class="tile-content">
                                        <img src="~/Images/hackathon cropped.jpg" alt="" />
                                    </div>
                                    <div class="tile-content">
                                        <img src="~/Images/Aliens meme.png" alt="" />
                                    </div>
                                    <div class="tile-content">
                                        <img src="images/3.jpg" alt="">
                                    </div>
                                    <div class="tile-content">
                                        <img src="images/4.jpg" alt="">
                                    </div>
                                    <div class="tile-content">
                                        <img src="images/5.jpg" alt="">
                                    </div>
                                </div>

    </section>
</div>
